/* .MuiTabs-scroller-137 {
  margin-top: 5em;
  position: fixed;
} */
#tabs {
  margin-top: 3em;
}
.trailInfo {
  width: 70vw;
  margin: 0 auto;
}
.sideBySide {
  display: flex;
  justify-content: space-between;
}
#stars,
#miles,
#info {
  margin: 1em;
  text-align: left;
}
